# Oauth Parameters
NYCU_Oauth_ID   = r""
NYCU_Oauth_key  = r""
NYCU_Oauth_rURL = r""

#MySQL Parameters
MySQL_Host = r""
MySQL_User = r""
MySQL_Pswd = r""
MySQL_DB   = r""

#JWT Secret Key
JWT_secretKey   = r""

#DDNS
DDNS_KeyFile = r""
DDNS_Server  = r""
DDNS_Zone    = r""

#Logging
Logging_Level  = 10 # NOTSET->0; DEBUG->10; INFO->20; WARNING->30; ERROR->40; CRITICAL->50
Logging_Format = "%(asctime)s [[%(name)s]] %(message)s"
Logging_DatetimeFormat = "%m/%d/%Y %H:%M:%S"

#Generals
Allowed_DomainName = ["*.nycu.me"]
Allowed_RecordType = ["A", "AAAA", "TXT", "MX", "CNAME", "NS"]
GH_Secret = ""
SocketFilePath = "/tmp/nycume-api.sock"
ServiceName = "nycume-api"
